<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko">
<body>
<ul th:fragment="guest-menu"
    class="nav-menu flex items-center gap-6">
    <li>
        <button type="button"
                hx-get="/hx/auth/login/modal"
                hx-swap="none"
                class="flex items-center gap-2 text-lg hover:text-blue-500">
            로그인
        </button>
    </li>
    <li>
        <button type="button"
                hx-get="/hx/auth/signup/modal"
                hx-swap="none"
                class="flex items-center gap-2 text-lg hover:text-blue-500">
            회원가입
        </button>
    </li>
</ul>

<ul th:fragment="user-menu"
    class="nav-menu flex items-center gap-6">
    <li>
        <a th:href="@{/chat}" data-icon="📂" class="flex items-center gap-2 text-lg hover:text-blue-500">
            채팅
        </a>
    </li>

    <li class="relative group">
        <div class="flex items-center gap-2 cursor-pointer">
            <!--/*@thymesVar id="member" type="com.chat.server.service.security.JwtMemberInfo"*/-->
            <span th:text="${member.username}" class="text-lg font-medium"></span>
        </div>
        <ul class="user-submenu absolute hidden bg-white shadow-lg rounded-md overflow-hidden group-hover:block right-0 w-48">
            <li><a href="#" class="block px-4 py-2 hover:bg-blue-500 hover:text-white">설정</a></li>
            <li><a href="#"
                   hx-post="/hx/auth/logout"
                   hx-swap="none"
                   class="block px-4 py-2 hover:bg-blue-500 hover:text-white">
                로그아웃
            </a></li>
        </ul>
    </li>
</ul>
</body>
</html>
