<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ko">
<div th:fragment="message"
     id="toast-container"
     hx-swap-oob="true">
    <!--/*@thymesVar id="type" type="String"*/-->
    <div th:class="'fixed bottom-5 left-1/2 transform -translate-x-1/2 px-4 py-3 rounded shadow-lg transition-opacity duration-300 text-white ' +
                   (${type} == 'success' ? 'bg-green-500' :
                    (${type} == 'error' ? 'bg-red-500' :
                    (${type} == 'info' ? 'bg-blue-500' : 'bg-gray-500')))">
        <!--/*@thymesVar id="message" type="String"*/-->
        <p th:text="${message}"></p>
    </div>
</div>
</html>