<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<!--/*@thymesVar id="hasMore" type="boolean"*/-->
<!--/*@thymesVar id="friendUserId" type="Long"*/-->
<!--/*@thymesVar id="firstChatId" type="Long"*/-->
<div th:if="${hasMore}"
     id="chat-scroll-loader"
     th:attr="data-hx-get='/hx/chats/' + ${friendUserId} + '/before?chatId=' + ${firstChatId}"
     hx-trigger="revealed"
     hx-target="#chat-message-list"
     hx-swap="afterbegin"
     style="height: 20px; background: transparent;">
</div>

<div th:replace="~{components/chat/chat/list}"></div>
</html>