<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<ul th:fragment="friend-list"
    id="friend-list"
    hx-swap-oob="true">
    <!--/*@thymesVar id="friends" type="java.util.List<com.chat.server.service.response.UserInfoResponse>"*/-->
    <li th:if="${#lists.isEmpty(friends)}">not exists</li>
    <li th:each="friend : ${friends}">
        <button type="button"
                th:attr="hx-get='/hx/chats/' + ${friend.id} + '/panel'"
                hx-swap="none"
                class="text-blue-700 hover:underline text-left w-full text-sm font-medium">
            <span th:text="${friend.name}">Chat With Friend</span>
        </button>

        <form hx-delete="/hx/chats/friends"
              hx-swap="none"
              class="ml-2">
            <input type="hidden" name="friendUserId" th:value="${friend.id}"/>
            <button type="submit"
                    class="bg-red-100 hover:bg-red-200 text-red-700 font-semibold px-2 py-1 rounded text-xs">
                Delete
            </button>
        </form>
    </li>
</ul>
</body>
</html>
